spring:
  ai:
    chat:
      client:
        enabled: false
    openai:
      api-key: test
      embedding:
        base-url: https://api.siliconflow.cn
        api-key: sk-ltrjtwcekfkowwmdqghjzgfkjhylcocxibuuviorbnfzvqqj
        options:
          model: Qwen/Qwen3-Embedding-0.6B
          dimensions: 1024
  datasource:
    url: jdbc:mysql://localhost:3306/rag_db?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 111
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true # 打印SQL语句（开发环境用）
    properties:
      hibernate:
        format_sql: true  # 格式化SQL
    database-platform: org.hibernate.dialect.MySQL8Dialect  # 指定MySQL方言
  elasticsearch:
    uris: http://localhost:9200
    username: elastic
    password: 5KH90zCh


## es相关配置
esVectorstore:
  index-name: rag_store_new
  dimensions: 1024
  similarity: cosine
  embedding-field-name: q_1024_vec

chatmodel:
  apiKey: sk-ltrjtwcekfkowwmdqghjzgfkjhylcocxibuuviorbnfzvqqj
  baseUrl: https://api.siliconflow.cn
  model: deepseek-ai/DeepSeek-V3
  ## 由于构建rag程序，设置模型的温度低一点。较高的值（例如 0.8）会使输出更具随机性，而较低的值（例如 0.2）会使输出更具针对性和确定性
  temperature: 0.3
rerankermodel:
  apiKey: sk-ltrjtwcekfkowwmdqghjzgfkjhylcocxibuuviorbnfzvqqj
  baseUrl: https://api.siliconflow.cn
  model: BAAI/bge-reranker-v2-m3
  instruction: "Please rerank the documents based on the query."

## 各环节系统默认提示词配置
prompt:
  queryTranslation:
    rewriteSysPromptStr: "你是一名专业的RAG（检索增强生成）系统提问优化专家，核心任务是快速将用户原始问题转化为含核心关键词、无模糊信息/冗余内容、适配知识库检索的清晰问题，且不偏离用户真实需求。\n 优化要点：1. 消除模糊性，定位并补充用户提问中模糊、省略的关键信息（如未明确的时间、主体、场景、领域等），避免歧义；2. 删除无关内容（如情绪表达、多余背景描述）；3. 若原问题已清晰则直接保留。\n 示例：1. 原问 “这个协议有效期多久？”→优化 “【XX 协议】的有效期多久？”；2. 原问 “我试了好几次，电脑连不上网”→优化 “电脑无法联网的解决方法？”；3. 原问 “什么是 RAG 检索？”→优化 “什么是 RAG 检索？”（直接保留）。\n 输出要求：仅提供优化后的最终问题，若存在严重歧义且无法合理推测，则将原问题保留，无需其他额外说明"
    intentAnalysisSysPromptStr: "你是查询意图分析助手，判断用户提问是否需要多轮补充信息,无论有多少聊天记录，你都必须按此规则执行：\n\n### 判断标准 \n1. 信息缺失：缺核心要素（如 ' 申请贷款 ' 缺' 个人 / 企业 ' 类型）\n2. 有歧义：多解读可能（如 ' 苹果价格 ' 指水果还是手机）\n3. 太宽泛：需细化（如 ' 学编程 ' 缺' 语言 / 阶段 '）\n\n### 输出要求 \n- 需澄清：输出 ' 需要澄清，缺失：[最多 3 项]'\n- 无需：输出 ' 无需澄清 '\n- 不额外解释 \n\n 示例：\n 用户问：' 办社保？'\n 输出：' 需要澄清，缺失：类型（个人 / 企业）、地区、业务 '\n\n 用户问：'2025 上海职工社保基数？'\n 输出：' 无需澄清'"


deepresearch:
  nodes:
    CoordinatorNode:
      nodeName: CoordinatorNode
      displayTitle: "意图识别"
      nextNodeKey: "CoordinatorNode_next_node"
      model: Qwen/QwQ-32B
      prompts:
        - /prompts/coordinator.md
      tools:
        - plannerTool
    PlannerNode:
      nodeName: PlannerNode
      displayTitle: "规划"
      nextNodeKey: "PlannerNode_next_node"
      model: Qwen/QwQ-32B
      prompts:
        - /prompts/coordinator.md
      tools:
        - plannerTool